In [52]:
# Persiapan membuat data
import pandas as pd
import random

pelajaran = ['Matematika', 'Fisika', 'Biologi', 'Kimia', 'Geologi', 'Ekonomi']
kelas = ['12A', '12B', '12C', '12D']

hasil_nilai = {
    'siswa_id' : range(1, 21),
    'pelajaran' : [random.choice(pelajaran) for i in range(20)],
    'nilai' : [random.choice(range(0, 100)) for i in range(20)],
    'jenis-kelamin' : [random.choice(['laki-laki', 'perempuan']) for i in range(20)],
    'kelas' : [random.choice(kelas) for i in range(20)]
}

df = pd.DataFrame(hasil_nilai)
df.head()

   siswa_id   pelajaran  nilai jenis-kelamin kelas
0         1     Ekonomi     31     perempuan   12C
1         2     Ekonomi     86     laki-laki   12D
2         3      Fisika     19     perempuan   12D
3         4  Matematika     71     perempuan   12C
4         5     Biologi     33     laki-laki   12A

<h2>Soal 1: Indexing</h2>

1. Lakukan indexing terhadap dataframe untuk mengakses column nilai dan kelas saja
2. Lakukan indexing terhadap dataframe untuk mengakses row 5 sampai 10 beserta column pelajaran dan nilai

In [53]:
# code here
df2 = df[['nilai','kelas']]
print(df2)

df3 = df[['pelajaran','nilai']]
print(df3[4:10])

    nilai kelas
0      31   12C
1      86   12D
2      19   12D
3      71   12C
4      33   12A
5       2   12D
6      94   12B
7      40   12D
8      57   12B
9      11   12D
10     29   12A
11     75   12C
12     97   12D
13     74   12C
14     98   12A
15     69   12B
16      3   12A
17     70   12C
18     83   12B
19     18   12B
  pelajaran  nilai
4   Biologi     33
5     Kimia      2
6    Fisika     94
7   Geologi     40
8    Fisika     57
9     Kimia     11

<h2>Soal 2: Filter DataFrame Dengan Boolean</h2>

1. Tampilkan semua data siswa pada mata pelajaran Ekonomi dan Fisika
2. Tampilkan semua data siswa yang mempunyai nilai lebih dari 50 di mata pelajaran Kimia 
3. Tampilkan semua data yang mempunyai nilai lebih dari 70, berjnis kelamin perempuan dan di kelas 12C

In [56]:
# code here
df4 = df.loc[df["pelajaran"].isin(['Ekonomi','Fisika'])]
print(df4)

df5 = df.loc[(df['nilai'] > 50) & (df['pelajaran'] == 'Kimia')]
print(df5)

df6 = df.loc[(df['nilai'] > 70) & (df['jenis-kelamin'] == 'perempuan') & (df['kelas'] == '12C')]
print(df6)

    siswa_id pelajaran  nilai jenis-kelamin kelas
0          1   Ekonomi     31     perempuan   12C
1          2   Ekonomi     86     laki-laki   12D
2          3    Fisika     19     perempuan   12D
6          7    Fisika     94     perempuan   12B
8          9    Fisika     57     laki-laki   12B
10        11   Ekonomi     29     perempuan   12A
11        12   Ekonomi     75     laki-laki   12C
14        15   Ekonomi     98     laki-laki   12A
15        16    Fisika     69     laki-laki   12B
16        17    Fisika      3     laki-laki   12A
19        20   Ekonomi     18     laki-laki   12B
    siswa_id pelajaran  nilai jenis-kelamin kelas
17        18     Kimia     70     perempuan   12C
    siswa_id   pelajaran  nilai jenis-kelamin kelas
3          4  Matematika     71     perempuan   12C
13        14  Matematika     74     perempuan   12C

<h2>Soal 3: Data Transformation</h2>

lakukan data transformasi terhadap column 'nilai' dengan fungsi transformasi, berikut rumus dari normalisasi

![alt text](https://drive.google.com/uc?id=1wed-EbRSTA0JP1ceDp6lcKBqH2yJ4aa3)

In [60]:
# code here
def norm(x):
    return (x - x.min())/(x.max() - x.min())
print(df[['nilai']].apply(norm))

       nilai
0   0.302083
1   0.875000
2   0.177083
3   0.718750
4   0.322917
5   0.000000
6   0.958333
7   0.395833
8   0.572917
9   0.093750
10  0.281250
11  0.760417
12  0.989583
13  0.750000
14  1.000000
15  0.697917
16  0.010417
17  0.708333
18  0.843750
19  0.166667